.flex{
    display: flex;

}

.aligen-times-center{
    align-items: center;
}

.justify-content-end{
    justify-content: flex-end;
}

.space-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}